<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Rapid_Plus.Properties.Settings.DbRapidPlus" connectionString="Data Source=RapidPlus.mssql.somee.com;Initial Catalog=RapidPlus;Persist Security Info=True;User ID=DieCaris503_SQLLogin_1;Password=wyej8uij24;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>